﻿﻿﻿
@model Setting
<div class="container-fluid">
    <h1>Update</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Value" class="form-label">Value</label>
            <input asp-for="Value" class="form-control">
            <span asp-validation-for="Value"></span>

        </div>
       
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

